* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal";
}
:root {
  --main-color: #1976d2;
  --hover-color: #144b8a;
  --background: #eef0f1;
  --text-color: #2e2e2e;
}
body {
  direction: rtl;
  background-color: var(--background);
}
.main {
  width: 100%;
  min-height: 100vh;
}
.inputContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  direction: rtl;
  background-color: white;
  padding: 0 2%;
  border-radius: 8px;
}
.inputContainer label {
  font-size: 20px;
  color: black;
}
.inputContainer input {
  width: 100%;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 20px;
  background-color: transparent;
}
.inputContainer select {
  width: 100%;
  outline: none;
  padding: 7px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}
table {
  width: 100%;
  text-align: center;
}
table, th, td {
  padding: 20px;
  border-collapse: collapse;
}
thead th {
  position: sticky;
  top: 0;
  background-color:  #2c2c2c;
  color: whitesmoke;
}
tbody tr:nth-child(even) {
    background-color: #0000000b;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actions button {
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  font-size: 20px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: .3s ;
}
.actions button:hover {
  background-color: var(--hover-color);
}
tfoot {
  background-color: black;
  color: white;
  font-size: 20px;
}
.card {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  transition: .3s;
}
.card.open {
  height: 500px;
}
.cardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.cardHead .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cardBody {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.moblieCardContainer {
    display: none;
}

@media(max-width: 767px) {
  .actions {
    display: none;
  }
  .moblieCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
  }
} 